
/* Hightlight unloaded tabs (tabs without attribute `read`) */

/* .tabbrowser-tabs[tabextra-highlight-unloaded-tabs]:not([tabextra-color-label-not-tab]) .tabbrowser-tab:not([selected="true"]):not([read]) .tab-text { */
.tabbrowser-tabs[tabextra-highlight-unloaded-tabs] .tabbrowser-tab:not([selected="true"]):not([load]) .tab-text {
  /* color: #800000 !important; */
  color: #c241c2;
  font-style: italic !important;
}

/* Make the current tab's text(title) bold */
.tabbrowser-tabs[tabextra-bold-current-tab] .tabbrowser-tab[selected="true"] .tab-text {
  font-weight: bold !important;
}